{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "VLibras Translator API",
    "description" : "VLibras Translator is an open source API developed for automatic translation from Brazillian Portuguese to Brazilian Sign Language (LIBRAS)",
    "contact" : {
      "email" : "vlibras@lavid.ufpb.br"
    },
    "license" : {
      "name" : "GNU Lesser General Public License v3.0",
      "url" : "https://www.gnu.org/licenses/lgpl-3.0.html"
    },
    "version" : "2.0.0"
  },
  "servers" : [ {
    "url" : "http://traducao.vlibras.gov.br",
    "description" : "VLibras Translator Brazilian Government Server"
  }, {
    "url" : "http://localhost:3000",
    "description" : "VLibras Translator Localhost Server"
  } ],
  "tags" : [ {
    "name" : "translations",
    "description" : "Automatic translation from Brazillian Portuguese to LIBRAS"
  }, {
    "name" : "reviews",
    "description" : "Human revision of VLibras Translator translations"
  } ],
  "paths" : {
    "/translate" : {
      "post" : {
        "tags" : [ "translations" ],
        "summary" : "Translates a text to text",
        "description" : "Translates a text written in Brazillian Portuguese to an equivalent text in LIBRAS",
        "operationId" : "translateText",
        "requestBody" : {
          "description" : "Text to translate",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Translate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Translated",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TranslatedText"
                }
              }
            }
          },
          "422" : {
            "description" : "Invalid value for text param"
          },
          "500" : {
            "description" : "Translation core unavailable"
          }
        }
      }
    },
    "/review" : {
      "post" : {
        "tags" : [ "reviews" ],
        "summary" : "Submits a review of translated text",
        "description" : "Submits a review of the text translated by the VLibras Translation Service",
        "operationId" : "reviewTranslation",
        "requestBody" : {
          "description" : "Review of the translated text",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Review"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful submission"
          },
          "422" : {
            "description" : "Unprocessable entity"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Translate" : {
        "required" : [ "text" ],
        "type" : "object",
        "properties" : {
          "text" : {
            "type" : "string",
            "example" : "o rato roeu a roupa do rei de roma"
          }
        }
      },
      "TranslatedText" : {
        "type" : "string",
        "example" : "RATO ROER PASSADO ROUPA REI ROMA"
      },
      "Review" : {
        "required" : [ "rating", "text", "translation" ],
        "type" : "object",
        "properties" : {
          "text" : {
            "type" : "string",
            "example" : "o rato roeu a roupa do rei de roma"
          },
          "translation" : {
            "type" : "string",
            "example" : "RATO ROER PASSADO ROUPA REI ROMA"
          },
          "rating" : {
            "type" : "string",
            "example" : "bad",
            "enum" : [ "good", "bad" ]
          },
          "review" : {
            "type" : "string",
            "example" : "RATO ROER ROUPA REI ROMA"
          }
        }
      }
    }
  }
}