{
  "openapi": "3.0.0",
  "info": {
    "title": "VLibras Translator API",
    "description": "VLibras Translator is an open source API developed for automatic translation from Brazillian Portuguese to Brazilian Sign Language (LIBRAS)",
    "contact": {
      "email": "vlibras@lavid.ufpb.br"
    },
    "license": {
      "name": "GNU Lesser General Public License v3.0",
      "url": "https://www.gnu.org/licenses/lgpl-3.0.html"
    },
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://traducao2.vlibras.gov.br",
      "description": "VLibras Translator v2 Brazilian Government Server"
    },
    {
      "url": "http://localhost:3000",
      "description": "VLibras Translator Localhost Server"
    }
  ],
  "tags": [
    {
      "name": "translations",
      "description": "Automatic translation from Brazillian Portuguese to LIBRAS"
    },
    {
      "name": "reviews",
      "description": "Human revision of VLibras Translator translations"
    },
    {
      "name": "health",
      "description": "Public and operational health endpoints"
    },
    {
      "name": "metrics",
      "description": "Operational counters and usage metrics"
    }
  ],
  "paths": {
    "/translate": {
      "post": {
        "tags": [
          "translations"
        ],
        "summary": "Translates a text to text",
        "description": "Translates a text written in Brazillian Portuguese to an equivalent text in LIBRAS.",
        "operationId": "translateText",
        "requestBody": {
          "description": "Text to translate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Translate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Text translated",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TranslatedText"
                }
              }
            }
          },
          "422": {
            "description": "Received an invalid body param",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidParams"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/translatesentiment": {
      "post": {
        "tags": [
          "translations"
        ],
        "summary": "Translates a text and returns sentiment analysis",
        "description": "Translates a text written in Brazilian Portuguese to LIBRAS and returns overall and per-sentence sentiment analysis for the translated content.",
        "operationId": "translateTextWithSentiment",
        "requestBody": {
          "description": "Text to translate and analyze",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Translate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Text translated with sentiment analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentimentTranslationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Received an invalid body param",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidParams"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/refine": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "translations"
        ],
        "summary": "Applies standalone gloss refinement",
        "description": "Sends the source text to the refinement queue with an optional base gloss. When gloss is not provided, the API reuses a cached translation when available before delegating translation to the refinement worker.",
        "operationId": "refineGloss",
        "requestBody": {
          "description": "Text to refine, with optional base gloss",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefineRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Refined translated text",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TranslatedText"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Refinement route is disabled for this environment"
          },
          "422": {
            "description": "Received an invalid body param",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidParams"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/review": {
      "post": {
        "tags": [
          "reviews"
        ],
        "summary": "Submits a review of translated text",
        "description": "Submits a review of the text translated by the VLibras Translation Service.",
        "operationId": "reviewTranslation",
        "requestBody": {
          "description": "Review of the translated text",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Review"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Review submited",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewSubmited"
                }
              }
            }
          },
          "422": {
            "description": "Received an invalid body param",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidParams"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "health"
        ],
        "summary": "Returns the public health status",
        "description": "Public health endpoint with minimal response and no infrastructure details.",
        "operationId": "getPublicHealth",
        "responses": {
          "200": {
            "description": "Public health status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicHealth"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/healthcheck": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "health"
        ],
        "summary": "Returns a simple liveness check",
        "description": "Minimal liveness endpoint used by infrastructure checks.",
        "operationId": "getHealthcheck",
        "responses": {
          "200": {
            "description": "Liveness check succeeded"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "metrics"
        ],
        "summary": "Returns service metrics",
        "description": "Aggregated metrics for translations, reviews, ratings and most frequent translated texts.",
        "operationId": "getMetrics",
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "Start of the reporting window in a parseable date-time format.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "End of the reporting window in a parseable date-time format.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Received an invalid query param",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidParams"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "PublicHealth": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "example": "up"
          }
        }
      },
      "Translate": {
        "required": [
          "text"
        ],
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "example": "o rato roeu a roupa do rei de roma"
          }
        }
      },
      "RefineRequest": {
        "required": [
          "text"
        ],
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "example": "o rato roeu a roupa do rei de roma"
          },
          "gloss": {
            "type": "string",
            "example": "RATO ROER ROUPA REI ROMA"
          }
        }
      },
      "TranslatedText": {
        "type": "string",
        "example": "RATO ROER ROUPA REI ROMA"
      },
      "SentimentTranslationResponse": {
        "type": "object",
        "required": [
          "traducao",
          "sentimentoGeral",
          "sentimentoPorSentenca"
        ],
        "properties": {
          "traducao": {
            "type": "string",
            "example": "RATO ROER ROUPA REI ROMA"
          },
          "sentimentoGeral": {
            "type": "string",
            "example": "Neutro"
          },
          "sentimentoPorSentenca": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SentenceSentiment"
            }
          }
        }
      },
      "SentenceSentiment": {
        "type": "object",
        "required": [
          "traducao",
          "sentimento"
        ],
        "properties": {
          "traducao": {
            "type": "string",
            "example": "RATO ROER ROUPA"
          },
          "sentimento": {
            "type": "string",
            "example": "Neutro"
          }
        }
      },
      "Review": {
        "required": [
          "rating",
          "text",
          "translation"
        ],
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "example": "o rato roeu a roupa do rei de roma"
          },
          "translation": {
            "type": "string",
            "example": "RATO ROER ROUPA REI ROMA"
          },
          "rating": {
            "type": "string",
            "example": "bad",
            "enum": [
              "good",
              "bad"
            ]
          },
          "review": {
            "type": "string",
            "example": "RATO ROER ROUPA REI ROMA"
          }
        }
      },
      "ReviewSubmited": {
        "type": "string",
        "example": "OK"
      },
      "MetricsResponse": {
        "type": "object",
        "properties": {
          "translationsCount": {
            "type": "integer",
            "example": 42
          },
          "reviewsCount": {
            "type": "integer",
            "example": 17
          },
          "ratingsCounters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RatingCounter"
            }
          },
          "translationsHits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranslationHit"
            }
          }
        }
      },
      "RatingCounter": {
        "type": "object",
        "properties": {
          "rating": {
            "type": "string",
            "enum": [
              "good",
              "bad"
            ],
            "example": "good"
          },
          "count": {
            "type": "integer",
            "example": 12
          }
        }
      },
      "TranslationHit": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "o rato roeu a roupa do rei de roma"
          },
          "hits": {
            "type": "integer",
            "example": 9
          }
        }
      },
      "requestUID": {
        "type": "string",
        "example": "c6730846-5d8e-4803-a38a-9cac921c9a04"
      },
      "File": {
        "type": "string",
        "format": "binary",
        "example": "OK"
      },
      "InvalidRequestUID": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "example": "There is no Process With the Received UID"
          }
        }
      },
      "InvalidParams": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "example": "Unprocessable Entity"
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "example": "Unauthorized"
              }
            }
          }
        }
      },
      "InternalError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "example": "<Reason of the Internal Error>"
          }
        }
      }
    }
  }
}
